<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <title>All Products</title>
</head>
<body>
<div id="modal-tag"></div>
<!-- Card beginning -->
<div class="card mx-5 mt-5" style="width: 72rem;">
    <div class="card-header">
        All Products
    </div>
    <div class="card-body">
        <button type="button" onclick="AddProduct()" class="btn btn-primary"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add product">
            <i class="bi bi-plus-circle"></i> Add
        </button>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>OPERATIONS</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <a href="#" th:onclick="'javascript:Details('+${product.id}+');'" class="btn btn-info"
                       data-bs-toggle="tooltip" data-bs-placement="bottom" title="Details"><i
                            class="bi bi-info-circle"></i></a>
                    <a href="#" th:onclick="'javascript:Update('+${product.id}+');'" class="btn btn-warning"
                       data-bs-toggle="tooltip" data-bs-placement="bottom" title="Update"><i
                            class="bi bi-pencil"></i></a>
                    <a href="#" th:onclick="'javascript:Delete('+${product.id}+');'" class="btn btn-danger"
                       data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i
                            class="bi bi-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    function AddProduct() {
        $.ajax({
            type: "GET",
            url: "/product/add",
            success: function (data) {
                $('#modal-tag').html(data);
                $('#modal-tag').find('.modal').modal('show');
            },
            error: function (data) {
                alert("Error");
            }
        })
    }
    function Details(id) {
        $.ajax({
            type: "GET",
            url: "/product/details/" + id,
            success: function (data) {
                $('#modal-tag').html(data);
                $('#modal-tag').find('.modal').modal('show');
            },
            error : function (er) {
                alert("Error");
            }
        })
    }

    function Update(id) {
        $.ajax({
            url: '/product/update/'+id,
            type: 'get',
            success: function (data) {
                $('#modal-tag').html(data);
                $('#modal-tag').find('.modal').modal('show');
            },
            error: function (r) {
                alert("Problem update");
            }
        });
    }

    function Delete(id) {
        $.ajax({
            url: '/product/delete/' + id,
            type: 'GET',
            success: function (data) {
                $('#modal-tag').html(data);
                $('#modal-tag').find('.modal').modal('show');
            },
            error: function (r) {
                alert("Problem delete");
            }
        });
    }
</script>
</body>
</html>