<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     th:object="${order}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-bs-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/order/delete}" method="post">
                    <p>The selected order will be deleted! Are you sure?</p>
                    <input type="hidden" name="id" th:value="${id}" />
                    <div class="float-end">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <div class="float-end">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>