<!-- Delete Order Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:object="${order}">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Delete Order</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body px-4 py-3">
                <form th:action="@{/order/delete}" method="post">
                    <p class="fs-5 text-center my-4">The selected order will be <span class="fw-bold text-danger">deleted</span>!<br>Are you sure?</p>

                    <input type="hidden" name="id" th:value="${id}" />

                    <div class="mt-4 text-end">
                        <button type="submit" class="btn btn-danger px-4">Delete</button>
                        <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal"
                                >Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Stil -->
<style>
    .modal-content {
        border-radius: 1rem;
    }

    .form-control:focus {
        box-shadow: 0 0 0 0.2rem rgba(13,110,253,.25);
    }

    .modal-header {
        border-bottom: 1px solid #dee2e6;
    }

    label.col-form-label {
        white-space: nowrap;
    }
</style>
