<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     th:object="${user}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-bs-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/user/delete}" method="post">
                    <p>The selected user will be deleted! Are you sure?</p>
                    <input type="hidden" name="id" th:value="${id}" />
                    <div class="float-end">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" onclick="javascript:window.location.href='/user/all'"
                                class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-content {
        border-radius: 1rem;
    }

    .form-control:focus {
        box-shadow: 0 0 0 0.2rem rgba(13,110,253,.25);
    }

    .modal-header {
        border-bottom: 1px solid #dee2e6;
    }

    label.col-form-label {
        white-space: nowrap;
    }

</style>